__pycache__/
*.pyc
orders.db
orders.db.init_lock
orders.db-shm
orders.db-wal
.env
uploads/customer/*
uploads/drawings/*
!uploads/customer/.gitkeep
!uploads/drawings/.gitkeep
.DS_Store

User names.xlsx
